---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Certificaciones Docentes">
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ut. Officia, ad veniam. Recusandae repellendus neque est perferendis vel blanditiis laboriosam, itaque provident ipsa quam maxime sint soluta vitae dicta fugit assumenda architecto veniam nihil omnis ut sit saepe beatae, perspiciatis sapiente? Quidem quas ad eius esse optio sed sapiente a placeat nihil! Similique, iusto quas corrupti dolorum et harum vel velit odit aperiam tempore ad. Ullam modi nam laborum beatae quam? Ipsa maiores odit quod provident necessitatibus aliquid at impedit assumenda iste commodi rem, nam obcaecati nemo delectus sapiente nesciunt soluta reprehenderit sit ipsam. Repellat eligendi corporis laboriosam! Iusto.</p>
</Layout>
