---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Docentes">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, culpa consequuntur molestiae nemo eligendi aliquam optio nulla neque consequatur quod sed nam esse praesentium temporibus vel quisquam dolore inventore vitae iure deleniti rem! Ea, adipisci itaque provident odit minus autem quasi neque animi sunt sapiente hic maiores quod dolores, quae possimus cumque nam libero dolorum. Facere sequi explicabo voluptatibus cupiditate dolore doloribus, tenetur at aspernatur et iste consequuntur fugit accusantium odio sapiente esse voluptatum culpa! Quae, maiores suscipit architecto fuga inventore voluptate veritatis itaque laudantium sunt odit facere beatae accusantium dolorem rem, cupiditate adipisci minus, eum et debitis aspernatur pariatur?</p>
</Layout>
