---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Perfil Personal">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum laudantium obcaecati, id recusandae iusto nesciunt est corrupti voluptates itaque repudiandae repellat eaque? Molestias ut sint voluptate placeat neque, alias tenetur impedit reiciendis ea, natus illo similique voluptas numquam doloremque rem nulla eaque amet odit fugit cumque. Maiores, ipsum commodi. Vel doloremque voluptas dicta esse numquam repellat excepturi, atque unde sit consequatur laboriosam, est modi id qui recusandae officiis eius labore voluptate, quibusdam rerum voluptatibus! Recusandae aperiam voluptatem doloremque veritatis magni, deserunt molestias sit quis dignissimos assumenda possimus! Voluptatem dolore, impedit adipisci consequatur blanditiis doloremque, pariatur a, voluptates nulla fugit numquam?</p>
</Layout>
