---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Postulantes">
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium odio eos quo reiciendis repudiandae labore vitae aut, excepturi quaerat rerum? Saepe voluptates, sequi, dolore ratione facere eligendi sunt quos nam nesciunt, eos unde atque ipsum earum temporibus tempore ad provident dignissimos vero. Cumque deserunt molestiae voluptate natus corrupti, consequatur non atque officia necessitatibus sapiente cum quod, amet odit maxime suscipit! Sunt soluta alias corporis doloremque tenetur. Nemo deserunt modi accusamus. Fugiat accusamus dolor dolorum non, harum illo hic libero unde commodi, ipsam, provident vero? Iusto illum praesentium cumque sint amet, reiciendis rem repellendus, harum rerum, explicabo quod tempora nulla inventore!</p>
</Layout>
