---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Programas">
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis nemo vel unde, harum accusantium esse in reiciendis temporibus. Reiciendis obcaecati illo fuga ex ipsa voluptatibus nisi sed consequuntur quidem consequatur. Animi magnam vitae ipsum. Eius eum magnam est, illo aliquid voluptas fuga laboriosam animi dicta, maxime suscipit maiores dolorem atque, iure dolores? Vel quos eius soluta assumenda molestiae molestias omnis consequatur eveniet, libero, harum, aspernatur vero. Tempore id nisi quasi harum quibusdam rem, possimus suscipit omnis dolore sunt odit voluptatibus. Ipsum vel odio enim veritatis ut odit dolor deserunt blanditiis natus laborum iste eius et fuga, reprehenderit consectetur molestias sed!</p>
</Layout>
