---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Registro de Programas">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quam itaque cumque maxime error mollitia quas at, distinctio eaque sapiente consequatur, soluta inventore ipsum maiores illo atque optio tenetur deleniti vero placeat eos nesciunt perferendis reprehenderit porro. Eius veniam alias, voluptas numquam, iusto delectus mollitia est itaque nemo facere maiores ipsam omnis consectetur fuga facilis enim molestiae praesentium quos iure dolor vero sunt. Alias, iure! Deleniti vel nisi dolore suscipit placeat, molestias eligendi enim omnis nihil quo maxime fugit? Asperiores repellat saepe incidunt consequuntur quas enim ipsa, dolorem corporis praesentium libero officiis, consectetur non dolores ullam error recusandae aperiam quod.</p>
</Layout>
